.ct-main-area{
    width: 100%;
    height: 100vh;
    padding-top: 5%;
}

.ct-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.ct-input-holder{
    display: flex;
    flex-direction: column;
    gap: 5px;
}