@import '../../styles/global';

.appeal {
    &-list {
      padding: 10px;
  
      &__item {
        border: 1px solid $neutral-color-gray;
        padding: 5px;
        margin-bottom: 5px;
      }
  
      &__profile {
        display: flex;
        align-items: center;
  
        &--box {
          width: 60%;
          display: flex;
          align-items: center;
        }
  
        &--icon {
          width: 50px;
          height: 50px;
        }
  
        &--name {
          margin: 0;
          font-size: 1em;
          font-weight: bold;
          padding-left: 15px;
        }
  
        &--tender {
          width: 30%;
          margin: 0;
        }
  
        &--detail {
          border: none;
          padding: 4px;
          background-color: $primary-color;
          color: $neutral-color-white;
          border-radius: 3px;
          width: 10%;
          transition: 0.3s;
  
          &:hover {
            background-color: $primary-colorLight;
          }
        }
      }
  
      &__information {
        height:0;
        overflow: hidden;
        transition:0.5s;
        &.activeAccordion{
          height:300px;
        }
      }
  
      &__company {
        padding:20px;
        
        &--title {
          font-weight: bold;
          font-size: 1.2em;
          border-left: 3px solid $primary-color;
          padding-left: 10px;
          margin-top: 30px;
        }
  
        &--content {
          font-size: 15px;
          padding-left: 13px;
        }
      }
    }
  }