@import '../../styles/global';

.hero {
    box-shadow: 0 0 5px $neutral-color-gray;
    margin-top:85px;
    height: 80vh;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height:100%;
    }

    &__content {
        border-left: 3px solid $primary-color;
        padding-left: 20px;
        width: 50%;
        font-size: 2em;
        font-weight: bold;
        text-shadow: 0 0 1px $neutral-color-gray;

        span {
            color: $primary-color;
        }
    }

    &__photo {
        width: 50%;

        img {
            width: 100%;
        }
    }
}

@keyframes textChange {
    0% { content: "yeni tərəfdaşlıqlar qazanın!"; }
    20% { content: "daha çox layihə qazanın!"; }
    40% { content: "uğura addımlayın!"; }
    60% { content: "müqavilələr bağlayın!"; }
    80% { content: "böyük fürsətlərdən yararlanın!"; }
    100% { content: "yeni tərəfdaşlıqlar qazanın!"; }
  }

  .hero__content span::after {
    content: "yeni tərəfdaşlıqlar qazanın!";
    display: inline-block;
    animation: textChange 10s infinite;
  }
// @keyframes slideInFromTop {
//     0% {
//       transform: translateY(-100%);
//       opacity: 0;
//     }
//     100% {
//       transform: translateY(0);
//       opacity: 1;
//     }
//   }

//   .hero__content span {
//     display: inline-block;
//     animation: slideInFromTop 1s ease-out infinite;
//   }

//   .hero__content span::after {
//     width:600px;
//     content: "yeni tərəfdaşlıqlar qazanın!";
//     position: absolute;
//     animation: textChange 10s infinite;
//   }

//   @keyframes textChange {
//     0% { content: "yeni tərəfdaşlıqlar qazanın!"; }
//     20% { content: "daha çox layihə qazanın!"; }
//     40% { content: "uğura addımlayın!"; }
//     60% { content: "müqavilələr bağlayın!"; }
//     80% { content: "böyük fürsətlərdən yararlanın!"; }
//     100% { content: "yeni tərəfdaşlıqlar qazanın!"; }
//   }
// @keyframes bounceIn {
//     0% {
//         transform: scale(0.3);
//         opacity: 0;
//     }

//     20% {
//         transform: scale(1.05);
//         opacity: 1;
//     }

//     40% {
//         transform: scale(1.05);
//         opacity: 1;
//     }

//     60% {
//         transform: scale(1.05);
//         opacity: 1;
//     }

//     80% {
//         transform: scale(0.9);
//     }

//     100% {
//         transform: scale(1);
//     }
// }

// .hero__content span {
//     display: inline-block;
//     animation: bounceIn 1s ease-in-out infinite;
// }

// .hero__content span::before {
//     content: "yeni tərəfdaşlıqlar qazanın!";
//     position: absolute;
//     animation: textChange 10s infinite;
// }

// @keyframes textChange {
//     0% {
//         content: "yeni tərəfdaşlıqlar qazanın!";
//     }

//     20% {
//         content: "daha çox layihə qazanın!";
//     }

//     40% {
//         content: "uğura addımlayın!";
//     }

//     60% {
//         content: "müqavilələr bağlayın!";
//     }

//     80% {
//         content: "böyük fürsətlərdən yararlanın!";
//     }

//     100% {
//         content: "yeni tərəfdaşlıqlar qazanın!";
//     }
// }

@media screen and (max-width:1439px) and (min-width: 1024px){

}
@media screen and (max-width:767px){
    .hero {
        height: 60vh;
        &__content {
            border-left: 3px solid $primary-color;
            padding-left: 20px;
            width: 60%;
            font-size: 1em;
        }
    
        &__photo {
            width: 50%;
    
            img {
                width: 100%;
            }
        }
    }
}