@import '../../styles/global';

.hero {
    margin-top:82px;
    height: 100vh;
    background-image: linear-gradient(to right,$neutral-color-ultraLightGray,$boxShadow-ultraLightPrimaryColor);

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height:100%;
    }

    &__content {
        border-left: 3px solid $primary-color;
        padding-left: 20px;
        width: 50%;
        font-size: 2em;
        font-weight: bold;
        text-shadow: 0 0 1px $neutral-color-gray;

        span {
            color: $primary-color;
        }
    }
    &__photo {
        width: 50%;
        img {
            width: 100%;
        }
    }
}

@keyframes textChange {
    0% { content: "yeni tərəfdaşlıqlar qazanın!"; }
    20% { content: "daha çox layihə qazanın!"; }
    40% { content: "uğura addımlayın!"; }
    60% { content: "müqavilələr bağlayın!"; }
    80% { content: "böyük fürsətlərdən yararlanın!"; }
    100% { content: "yeni tərəfdaşlıqlar qazanın!"; }
  }

  .hero__content span::after {
    content: "yeni tərəfdaşlıqlar qazanın!";
    display: inline-block;
    animation: textChange 10s infinite;
  }

@media screen and (max-width:1024px) and (min-width: 768px){
.hero{
    &__content{
        font-size: 1.1em;
    }
}
}
@media screen and (max-width:767px){
    .hero {
        height: 60vh;
        .container{
            flex-direction: column;
        }
        &__content {
            text-align: center;
            width: 100%;
            font-size: 1em;
        }
    }
}