@import '../../styles/global';
.profile-area {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  margin-top: 82px;
  padding: 30px;
  position: relative;
  min-height:90vh;
}

.profile-decoration-top {
  width: 100%;
  padding-top: 5%;
  background-color: $primary-color;
  text-align: center;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
}

.profile-information-box {
  position: sticky;
  top:112px;
  z-index:10;
  width: 25%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: $borderColor-lightGray;
  color: white;
}

.profile-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  outline: 5px solid rgb(13, 81, 144);
  background-color: white;
  position: relative;
  top: 50px;
}

.profile-name-box {
  text-align: center;
  margin: 18% 0 0;
  color: black;

  .profile-name {
    padding-top:10px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .profile-company {
    font-size: 1.2rem;
  }
}

.profile-notification-box {
  width: 80%;
  background-color: $primary-color;
  padding: 10px;
  align-items: center;
  border-radius: 8px;

  ul {
    padding: 0;
    margin:0;
  }

  li {
    list-style: none;
    margin-bottom: 2%;
  }
}

.profile-edit-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  padding:10px;
}

.profile-edit-btn {
  transition: 0.3s;
  padding: 5px;
  border: 1px solid $primary-color;
  border-radius: 3px;
  background-color: $primary-color;
  color: white;
  font-size: 17px;
  cursor: pointer;

  &:hover {
    background-color: $neutral-color-white;
    color: $primary-color;
  }
}

.profile-control-box {
  width: 73%;

  .profile-tabs {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    .profile-tab.active{
      background-color: $primary-color;
    }
  }

  .profile-add-tender {
    padding: 8px 15px;
    margin-left: auto;
    width: 150px;
    background-color: $primary-color;
    border: 1px solid $borderColor-lightGray;
    color: white;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color:$neutral-color-white;
      color:$primary-color;
    }
  }

  .profile-tab {
    padding: 10px 20px;
    border: 1px solid $borderColor-lightGray;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color:$neutral-color-white;
      color:$primary-color;
    }
  }

  .profile-tab.active {
    background-color: #007bff;
    color: white;
  }

  .profile-content-tabs {
    margin-top: 20px;
  }

  .profile-content,
  .profile-active-content {
    display: none;
  }

  .profile-active-content {
    width: 100%;
    display: block;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 5px;
    .tenders{
      margin-inline: 0;
    }
  }
}

.profile-cancel-btn {
  width: 50px;
  height: 30px;
  color: white;
  background-color: #088b29;
  border-radius: 5px;

  &:hover {
    background-color: #599a5d;
  }
}

@media (max-width: 1024px) and (min-width:769px){
  .profile-decoration-top{
    padding:0;
  }
  .profile-name-box{
    .profile-name {
      padding-top:10px;
      font-size: 1em;
    }
  }
  .profile-img img{
    width:150px;
    height:150px;
    top:30px;
  }
  .profile-notification-box{
    li{
      font-size:0.9em;
    }
  }
  .profile-control-box{
    .profile-tab{
      padding:10px 6px;
      font-size:0.9em;
    }
  }
}
@media (max-width: 768px) {
  .profile-area {
    flex-direction: column;
    padding:10px 0;
  }
  .profile-information-box {
    position: static;
    top:0;
    width: 100%;
    height:auto;
  }


  .profile-name-box {
    margin: 70px 0 10px;
    width: 20%;
  }


  .profile-notification-box {
    width: 50%;
    li {
      padding: 5px;
    }
  }

  .profile-edit-box {
    margin: 0;
    width: 50%;
  }

  .profile-edit-btn {
    width: 100%;
  }

  .profile-tabs {
    flex-direction: column;
    align-items: center;
    padding:30px;
  }
  .profile-control-box{
    padding:20px;
    width:100%;
    margin:0;
    .profile-tab{
      width:100%;
      text-align: center;
    }
    .profile-add-tender{
      margin:0;
      order:-1;
    }
  }
}
@media (max-width: 480px) {
  .profile-notification-box{
    width:90%;
  }
  .profile-name-box{
    width:40%;
  }
}