@import 'variables';
@import 'mixins';    
@import 'reset';

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
  ::-webkit-scrollbar {
    width: 0.5em;
    background-color: rgb(25,25,25);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    box-shadow: 0 3px 12px 7px rgb(75,75,75);
    background-color: $primary-color;
}
html{
  scroll-behavior: smooth;
}