$primary-color:rgb(21, 146, 177);
$primary-colorLight:rgb(65, 188, 219);
$accent-color:rgb(25, 110, 131);
$primary-colorGradient: rgb(215, 230, 240);
$secondary-color-gray:rgb(38,38,38);
$neutral-color-white:white;
$neutral-color-black:black;
$neutral-color-gray:gray;
$borderColor-lightGray:#e1e4e8;
