$primary-color:rgb(21, 146, 177);
$primary-colorLight:rgb(65, 188, 219);
$accent-color:rgb(25, 110, 131);
$primary-colorGradient: rgb(215, 230, 240);
$neutral-color-green:rgb(18, 172, 18);
$neutral-color-red:rgb(255,51,0);
$secondary-color-gray:rgb(38,38,38);
$neutral-color-white:white;
$neutral-color-black:black;
$neutral-color-gray:gray;
$borderColor-lightGray:rgb(225, 228, 232);
$neutral-color-black-opacity:rgba(0, 0, 0, 0.697);
$primary-color-opacity:rgba(28, 152, 184, 0.789);
$neutral-color-green:rgb(18, 172, 18);
$neutral-color-red:rgb(255, 51, 0);
$neutral-color-ultraLightGray:rgb(241, 241, 241);
$boxShadow-ultraLightPrimaryColor:rgb(152 201 213);
$neutral-color-aquamarine:aquamarine;


 

