@import '../../../styles/global.scss';

.edit-area {
    width: 68%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border:1px solid $borderColor-lightGray;
    position:relative;
    .close {
        width: 40px;
        height: 40px;
        color: $neutral-color-white;
        border: 1px solid $neutral-color-white;
        border-radius: 3px;
        position: absolute;
        font-size: 1em;
        top: 15px;
        right: 15px;
        z-index: 1;
        background-color: $primary-color;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: $neutral-color-white;
            color: $primary-color;
            border-color: $primary-color;
        }
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .profile-edit-form {
        background-color: white;
        width: 80%;
        padding: 5%;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 20px;

        .edit-input-group {
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
                font-weight: bold;
                font-size: 1rem;
            }

            input[type="file"] {
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            input[type="text"] {
                padding: 10px;
                font-size: 1rem;
                border: 1px solid #ccc;
                border-radius: 4px;
                outline: none;

                &:focus {
                    border-color: #007bff;
                }
            }
        }

        .edit-submit-btn {
            padding: 10px 15px;
            background-color: $primary-color;
            color: $neutral-color-white;
            border: 1px solid $borderColor-lightGray;
            border-radius: 4px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $neutral-color-white;
                color: $primary-color;
            }
        }
    }
}

@media (max-width: 768px){
    .edit-area{
        width:100%;
        .profile-edit-form{
            width:100%;
        }
    }
}