@import "../../styles/global";
.notFoundContainer{
    height: 100vh;
    text-align: center;
    font-size: 200px;
    background-color: $borderColor-lightGray;
    color: $neutral-color-gray;
    p{
        font-size: 50px;
    }
}
@media (max-width:480px) {
    .notFoundContainer{
        .smile{
            font-size: 180px;
        }
        p{
            font-size: 40px;
        }
    }   
}